@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500&family=Rakkas&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --black: #000000;
    --blue: #1e88e5;
    --black-secodary: #202020;
    --gray: #b1b1b1;
    --white: #ffffff;

    --plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
    --rakkas: "Rakkas", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: var(--black-secodary);
    font-family: var(--plus-jakarta-sans);
    color: var(--white);
}

// .active {
//     color: var(--blue);
// }
nav .navbar-menu li.active {
    background: var(--blue);
    padding: 6px 14px;
    border-radius: 6px;

    a {
        color: var(--white);
        font-weight: 600;
    }
}
// nav .navbar-menu {
//     transition: all 0.8s ease-in-out !important;
// }
@media (max-width: 960px) {
    nav .navbar-menu {
        position: fixed;
        top: 80px;
        right: 0;
        border-radius: 0 0 0 40px;
        box-shadow: rgba(255, 255, 255, 0.12) 0px 2px 0px, rgba(255, 255, 255, 0.24) 0px 2px 2px;
    }
}