@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&family=Rakkas&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --black: #000000;
    --black-secondary: #1c1c1c;
    --blue: #1e88e5;
    --gray: #b1b1b1;
    --white: #ffffff;
    --linear-blue: linear-gradient(90deg, rgba(30,136,229,1) 20%, rgba(30,229,140,1) 100%);

    --plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
    --rakkas: "Rakkas", sans-serif;
}

/* === Scroll Bar === */
/* width */
::-webkit-scrollbar {
    width: 6px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--gray);
    border-radius: 0px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--blue);
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: var(--black-secondary);
    font-family: var(--plus-jakarta-sans);
    color: var(--white);
}

// nav .navbar-menu li {
//     padding: 6px 14px;
//     border-radius: 6px;
// }
// nav .navbar-menu li.active {
//     background: var(--blue);

//     a {
//         color: var(--white);
//         font-weight: 600;
//     }
// }
// @media (max-width: 960px) {
//     nav .navbar-menu {
//         position: fixed;
//         top: 70px;
//         right: 0;
//         border-radius: 0 0 0 40px;
//         box-shadow: rgba(255, 255, 255, 0.12) 0px 2px 0px, rgba(255, 255, 255, 0.24) 0px 2px 2px;
//     }
// }

nav .navbar-menu {
    li {
        border-color: #00000000;
    }
    li.active {
        background-color: var(--blue);
    }
}
@media (max-width: 960px) {
    nav .navbar-menu {
        background: var(--black-secondary);
        position: absolute;
        top: 85px;
        right: 10px;
        // padding: 32px 52px 20px 52px;
        border: 0.2px solid var(--gray);
        border-radius: 12px;
        transition: all 0.4s ease;
    }
}

.linear-blue {
    background: linear-gradient(90deg, rgba(30,136,229,1) 20%, rgba(30,229,140,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.border-linear-blue {
    background: linear-gradient(var(--black-secondary), var(--black-secondary)) padding-box,
                var(--linear-blue) border-box;
    border-radius: 4rem;
    border: 2px solid transparent;
}