@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500&family=Rakkas&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --black: #000000;
    --blue: #1e88e5;
    --black-secodary: #202020;
    --gray: #b1b1b1;
    --white: #ffffff;

    --plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
    --rakkas: "Rakkas", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: var(--black-secodary);
    font-family: var(--plus-jakarta-sans);
    color: var(--white);
}

.active {
    color: var(--blue);
}

// nav .navbar-menu {
//     position: fixed;
//     top: 100px;
//     left: 0;
//     right: 0;
// }
@media (max-width: 960px) {
    nav .navbar-menu {
        position: fixed;
        top: 80px;
        // left: 0;
        right: 0;
        border-radius: 0 0 0 40px;
        box-shadow: rgba(255, 255, 255, 0.12) 0px 2px 0px, rgba(255, 255, 255, 0.24) 0px 2px 2px;
    }
}